/* Remove this part when adding CSS */
body, html {
    height: 100%;
    margin: 0;
}
/*  */
.three-state-toggle {
  	width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: #FFFFFF;
}
.button {
    width: 350px;
    height: 75px;
    flex-shrink: 0;
    appearance: none;
    border-radius: 50px;
}
.button:hover {
    cursor: pointer;
}
#cafe-button {
    background: #F6F6F6;
}
.button-heading {
    color: #AFAFAF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
#cafe-button .button-heading {
    color: #434343;
}
.banner-image {
    height: 50%;
    position: relative;
    background-image: url('src/cafe-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}