/* 
Remove the code below here when adding custom css to the squarespace site
These are styles that squarespace already applies to the HTML. They're
used here to give this code the same appearance.
*/
body,
html {
  height: 100%;
  margin: 0;
  font-family: Apex;
}

@font-face {
  font-family: "Apex New Book";
  src: url("https://static1.squarespace.com/static/61a9ff8f8fb5cc04d2bddf56/t/61c5a502c1b82238bd9d1e34/1640342786993/ApexNew-Book.otf");
}

h1,
h2,
h3,
p {
  font-family: "Apex New Book";
}

/* keep everything below here */
.three-state-toggle {
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: #ffffff;
  padding: 5px;
  margin: auto;
}
.button {
  width: 33%;
  height: 75px;
  flex-shrink: 0;
  appearance: none;
  border-radius: 50px;
  margin: auto;
}
.button:hover {
  cursor: pointer;
}
#cafe-button {
  background: #f6f6f6;
}
.button-heading {
  color: #afafaf;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
#cafe-button .button-heading {
  color: #434343;
  margin-top: 27.5px;
}
#office-button .button-heading {
  margin-top: 27.5px;
}
#venue-button .button-heading {
  margin-top: 27.5px;
}
.banner-image {
  height: 80vh;
  padding-top: 25px;
  background-image: url("src/cafe-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#cta-button {
  width: 20rem;
  height: 5rem;
  border-radius: 50px;
  background: #7bd3f7;
  color: #fff;
  font-family: "Apex New";
  font-weight: 550;
  font-size: 32px;
  margin-top: 33%;
}
.page-header {
  text-align: center;
  padding: 10rem;
}
#dynamic-heading {
  text-shadow: 2px 2px #434343;
  color: #ffffff;
}

/* Mobile Dimensions */

@media only screen and (max-width: 475px) {
  .three-state-toggle {
    width: 80%;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background: #ffffff;
    padding: 5px;
    margin: auto;
  }
  .button {
    width: 33%;
    height: 30px;
    flex-shrink: 0;
    appearance: none;
    border-radius: 50px;
    margin: auto;
  }
  .button:hover {
    cursor: pointer;
  }
  #cafe-button {
    background: #f6f6f6;
  }
  .button-heading {
    color: #afafaf;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 0px;
  }
  #cafe-button .button-heading {
    color: #434343;
    margin-top: 17.5px;
  }
  #office-button .button-heading {
    margin-top: 17.5px;
  }
  #venue-button .button-heading {
    margin-top: 17.5px;
  }
  .banner-image {
    height: 40vh;
    padding-top: 25px;
    background-image: url("src/cafe-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  #cta-button {
    width: 7.5rem;
    height: 2rem;
    border-radius: 50px;
    background: #7bd3f7;
    color: #fff;
    font-family: "Apex New";
    font-weight: 550;
    font-size: 12px;
    margin-top: 67%;
  }
  .page-header {
    text-align: center;
    padding: 10rem;
  }
  #dynamic-heading {
    text-shadow: 2px 2px #434343;
    color: #ffffff;
  }
}
