/* 
These first few lines of code should not be exported to squarespace.
These are styles that squarespace already applies to the HTML. They're
used here to give this code the same appearance.
*/
body,
html {
  height: 100%;
  margin: 0;
  font-family: Apex;
}

@font-face {
  font-family: "Apex New Book";
  src: url("https://static1.squarespace.com/static/61a9ff8f8fb5cc04d2bddf56/t/61c5a502c1b82238bd9d1e34/1640342786993/ApexNew-Book.otf");
}

h1,
h2,
h3,
p {
  font-family: "Apex New Book";
}

/* Everything below here should go into the squarespace CSS */
.three-state-toggle {
  width: 80%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background: #ffffff;
  padding: 5px;
  margin: auto;
}
.button {
  width: 33%;
  height: 75px;
  flex-shrink: 0;
  appearance: none;
  border-radius: 50px;
  margin: auto;
}
.button:hover {
  cursor: pointer;
}
#cafe-button {
  background: #f6f6f6;
}
.button-heading {
  color: #afafaf;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
#cafe-button .button-heading {
  color: #434343;
  margin-top: 27.5px;
}
#office-button .button-heading {
  margin-top: 27.5px;
}
#venue-button .button-heading {
  margin-top: 27.5px;
}
.banner-image {
  height: 60rem;
  padding-top: 25px;
  background-image: url("src/cafe-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#cta-button {
  width: 20rem;
  height: 5rem;
  border-radius: 50px;
  background: #7bd3f7;
  color: #fff;
  font-family: "Apex New";
  font-weight: 550;
  font-size: 32px;
  margin-top: 40rem;
}
.page-header {
  padding: 5rem;
}
#dynamic-heading {
  text-shadow: 2px 2px #434343;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
}
#dynamic-subheading {
  text-align: center;
}
#dynamic-description {
  text-align: center;
}

/* Tablet Dimensions */

@media only screen and (max-width: 768px) {
  .three-state-toggle {
    border-radius: 25px;
  }
  .button {
    height: 30px;
  }
  .button-heading {
    font-size: 16px;
    line-height: 0px;
  }
  #cafe-button .button-heading {
    margin-top: 15px;
  }
  #office-button .button-heading {
    margin-top: 15px;
  }
  #venue-button .button-heading {
    margin-top: 15px;
  }
  #dynamic-heading {
    font-size: 30px;
  }
  .banner-image {
    height: 30rem;
  }
  #cta-button {
    width: 10rem;
    height: 2.5rem;
    background: #7bd3f7;
    font-size: 16px;
    margin-top: 18rem;
  }
  .page-header {
    padding: 2rem;
  }
  #dynamic-heading {
    text-shadow: 2px 2px #434343;
    color: #ffffff;
    text-align: center;
  }
  #dynamic-subheading {
    font-size: 30px;
    text-align: center;
  }
  #dynamic-description {
    font-size: 16px;
    text-align: center;
  }
}

/* Mobile Dimensions */

@media only screen and (max-width: 425px) {
  .three-state-toggle {
    border-radius: 25px;
  }
  .button {
    height: 30px;
  }
  .button-heading {
    font-size: 16px;
    line-height: 0px;
  }
  #dynamic-heading {
    font-size: 25px;
  }
  .banner-image {
    height: 20rem;
  }
  #cta-button {
    width: 7.5rem;
    height: 2rem;
    background: #7bd3f7;
    font-size: 12px;
    margin-top: 10 rem;
  }
  .page-header {
    padding: 2rem;
    font-size: 12px;
  }
  #dynamic-heading {
    text-shadow: 2px 2px #434343;
    color: #ffffff;
    text-align: center;
  }
  #dynamic-subheading {
    font-size: 20px;
    text-align: center;
  }
  #dynamic-description {
    font-size: 12px;
    text-align: center;
  }
}
